<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-3">

					<!-- message box -->
					<div th:if="${session.message}" class="container">
						<div th:classappend="${'alert-'+session.message.type}"
							class="alert alert-success text-center">
							<span th:text="${session.message.content}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<!-- message box -->

					<div>
						<h2 class="text-center mt-3 ">
							Welcome back, <span class="font-weight-bold font-italic"
								th:text="${user.name}"></span>
						</h2>
					</div>
					<div class="container text-center my-3">
						<img style="width: 200px; height: 200px;" alt="dashboard" src="#"
							th:src="@{'/img/dashboard.png'}">
					</div>
					<h2 class="text-center mt-3 font-weight-light">Start Adding
						your contact list...</h2>
					<div class="text-center">
						<a th:href="@{/user/add-contact}" class="btn btn-primary mt-4">Add
							New Contact</a>
					</div>
				</div>
			</div>
		</div>

		<script>
		
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#home-link").addClass("active");
			});
		</script>

	</section>
</body>
</html>